@font-face {
    font-family: 'Codec';
    src: url(fonts/Codec-Cold-Light-trial.ttf);
    src: url(fonts/Codec-Warm-Thin-trial.ttf);
    src: url(fonts/Codec-Warm-Regular-trial.ttf);
    src: url(fonts/Codec-Cold-Bold-trial.ttf);
    font-weight: normal;
    font-weight: lighter;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Codec';
    background-color: #f8f9fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4a4a4a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    background-color: #8D9EFF;
}

.logo {
    margin-left: 60px;
}

.img-logo {
    height: 43px;
    margin-top: 2px;
    margin-left: 100px;
    transition: filter 0.3s ease-in-out;
}

.logo:hover .img-logo {
    filter: brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(100%) contrast(102%);
}

.botoes-header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-right: 200px;
}

.btn-login a,
.btn-signUp a {
    text-decoration: none;
    color: #8D9EFF;
}

.btn-login,
.btn-signUp {
    height: 40px;
    width: 120px;
    border-radius: 60px;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: white;
    border: transparent;
    color: #8D9EFF;
    font-size: 15px;
    font-family: 'Codec';
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.btn-login:hover,
.btn-signUp:hover {
    transform: scale(1.02);
    background-color: #333333;
    color: #FFFFFF;
}

.btn-login:hover a,
.btn-signUp:hover a {
    color: #FFFFFF;
}

.slogan {
    font-size: 2.5vw;
    text-align: center;
    color: #8D9EFF;
    font-weight: 900;
    position: absolute;
    top: 12vh;
    letter-spacing: -1.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12vh;
    width: 60vw;
    height: 50vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    border-radius: 0px 0px 25px 25px;
    position: relative;
}

.barra {
    width: 100%;
    height: 7vh;
    background-color: #8D9EFF;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
}

.user-icon {
    fill: white;
    width: 23px;
    margin-right: 20px;
}

.btn-comecar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20vw;
    height: 10vh;
    background-color: #8D9EFF;
    color: #fff;
    font-family: 'Codec';
    font-size: 2vw;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    margin-top: 5vh;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}



.btn-comecar:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px;
    background-color: #333333;
    transform: scale(1.1);
}

.btn-comecar img {
    width: 27px;
}

@media (min-width: 1600px) {
    .container {
        width: 50vw;
        height: 45vh;
    }

    .btn-comecar {
        width: 18vw;
        height: 9vh;
        font-size: 1.8vw;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 45vw;
        height: 40vh;
    }

    .slogan {
        font-size: 2.2vw;
        top: 14vh;
    }

    .btn-comecar {
        width: 17vw;
        height: 9vh;
        font-size: 1.6vw;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 70vw;
        height: 55vh;
    }

    .btn-comecar {
        width: 25vw;
        height: 12vh;
        font-size: 3vw;
    }
}

@media (max-width: 1366px) {
    .img-logo {
        height: 35px;
        margin-left: 50px;
    }

    .btn-login,
    .btn-signUp {
        width: 100px;
        font-size: 13px;
    }
}