@font-face {
    font-family: 'Codec';
    src: url(fonts/Codec-Cold-Light-trial.ttf);
    src: url(fonts/Codec-Warm-Thin-trial.ttf);
    src: url(fonts/Codec-Warm-Regular-trial.ttf);
    src: url(fonts/Codec-Cold-Bold-trial.ttf);
    font-weight: normal;
    font-weight: lighter;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Codec';
    background-color: #f8f9fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4a4a4a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    background-color: #8D9EFF;
}

.logo {
    margin-left: 60px;
}

.img-logo {
    height: 43px;
    margin-top: 2px;
    margin-left: 100px;
    transition: filter 0.3s ease-in-out;
}

.logo:hover .img-logo {
    filter: brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(100%) contrast(102%);
}


.btn-profile {
    border: none;
    background-color: transparent;

}

.btn-profile svg {
    width: 20px;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    margin-right: 55px;

}

.btn-profile svg:hover {
    fill: #4a4a4a;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 160px;
    height: calc(100% - 50px);
    background-color: #8D9EFF;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

}


.tasks {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    
}

.tasks svg {
    width: 20px;
    fill: white;
}

.container{
    height: 500px;
    width: 1200px;
    border: 1px solid black;
}

.boasVindas{
    border: 1px solid black;
    font-size: 40px;
    position: absolute;


}